.swiper {
  user-select: none;
  padding: 0px 32px 0px 32px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  transition: all ease 0.3s;
}

.swiper-pagination-bullet-active {
  background: white;
  position: absolute;
}

.swiper-button-prev {
  color: white;
}

.swiper-button-next {
  color: white;
}
