.showButton {
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: showButton 0.4s ease forwards;
  cursor: pointer;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.button-bg {
  background: var(--gradient);
}

.showIcon {
  opacity: 1;
}

.border-gradient {
  background-image: linear-gradient(90deg, #00dbdf, #fc00ff);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 2px;
}

@keyframes showButton {
  from {
    opacity: 0;
    bottom: 300px;
    transform: translateY(0);
  }
  to {
    opacity: 100%;
    bottom: 0;
    transform: rotateY(100%);
  }
}
